body {
  width: 300px;
  height: fit-content;
  background-color: #1A202C;
  font-family: "Inter";
  font-size: 12px;
  color: #fff;
  padding: 20px;
}

.header-description{
    opacity: .7;
}

.page-info{
    margin-top: 10px;
    font-size: 14px;
}

.tags{
    float: left;
    margin-right: 20px;
}

.tags, .tags-content{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.tag-content{
    opacity: .7;
    max-width: 200px;
    max-height: 18px !important;
    overflow: hidden;
}

#page-content{
    height: fit-content;
    max-height: 200px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #ffffff50;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
}

.sheet{
    max-width: 130px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.unactive {
    background-color: #5D6776 !important;
    cursor: default !important;
}

#dld-html-btn, #dld-pdf-btn, #print-btn{
    background-color: #2E68C0;
    border-radius: 5px;
    width: 70px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#message{
    color: #E53E3E;
    font-family: "Roboto Mono";
    font-size: 10px;
}

.hidden {
  display: none;
}

.header{
    font-size: 20px;
    font-weight: bold;
}

.tag {
    font-weight: bold;
}
